<div class="  bg-primary d-flex justify-content-between">
    <div class="d-inline-flex p-2 text-white">
        <span class=" mx-5 h4 ">Users</span>
    </div>
    <!-- Button trigger modal -->
    <div class="d-flex flex-column bd-highlight mt-2 mx-5 text-white">

        <button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal">
            +Add User
        </button>
        
    </div>
    
    
    
    
</div>


<app-add-user (userAdded)="addNewUser()"></app-add-user>

<div class="mx-5 px-5">
    <table class="table border border-1 table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Number</th>
                <th scope="col">Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users;">
                <th scope="row" routerLink="/user/{{ user.id }}">{{user.id}}</th>
                <td routerLink="/user/{{ user.id }}">{{user.name}}</td>
                <td routerLink="/user/{{ user.id }}">{{user.email}}</td>
                <td routerLink="/user/{{ user.id }}">{{user.phone}}</td>
                <td routerLink="/user/{{ user.id }}">{{user.address.suite}} {{user.address.street}}-{{user.address.city}}</td>
            </tr>
        </tbody>
    </table>
</div>


